body {
  padding: 10px;
  background-color: azure;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
  margin-top: 5px;
  border-radius: 20px;
}

button {
  border-radius: 20px;
}




